# Don't track downloaded BIOS files:
files/bios/**
!files/bios/.gitkeep

# Don't track scraped data/images or saved games:
files/gamelists/**
!files/gamelists/.gitkeep
files/images/**
!files/images/.gitkeep
files/saves/**
!files/saves/.gitkeep

# My roms, not yours:
roms.json

# Secrets - password/etc
secrets.json

# What systems you want to work w/
systems.json

# Ansible 2!
playbook.retry
